.friend-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
}

.friend-detail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid white;
  height: 6%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: gainsboro;
  color: slategrey;
}

.friend-detail__back {
  height: 50%;
  margin-right: 1rem;
  color: slategray;
  font-weight: bold;
  width: 26%;
  border: none;
  background-color: lavender;
}

.friend-detail__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: gainsboro;
  color: slategrey;
  height: 53%;
  margin: .5rem;
}

.friend-detail__image {
  border-radius: 50%;
}

.friend-detail__description {
  width: 90%;
  text-align: center;
}

.friend-detail__wishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: gainsboro;
  color: slategrey;
  margin-bottom: .5rem;
  height: 37%;
}

.friend-detail__title {
  margin: 0;
}

.friend-detail__list {
  width: 90%;
  height: 100%;
  margin: 0;
  overflow: auto;
}

.friend-detail__wish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid white;
  border-radius: 15px;
  height: 100%;
}

.friend-detail__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friend-detail__wimage {
  border-radius: 50%;
}

.friend-detail__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-top: 1rem;
  width: 65%;
}

.friend-detail__wdescription {
  width: 100%;
  padding-left: 1.2rem;
  font-size: .8rem;
}

.friend-detail__btn {
  -ms-flex-item-align: safe;
      align-self: safe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  width: 100%;
}

.friend-detail__save {
  margin-right: 1rem;
  color: slategray;
  font-weight: bold;
  width: 32%;
  border: none;
  background-color: lavender;
  border: 1px solid slategray;
  border-radius: 15px;
}
/*# sourceMappingURL=index.css.map */